@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47,1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} */

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


    html {
      scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;
    display: none;
}

::-webkit-scrollbar-thumb {
width: 0;  /* Remove scrollbar space */
    background: transparent;
        display: none;

}

pre {
    transition: color 0.5s, background-color 0.5s;
   -webkit-user-select: none;       
 -moz-user-select: none; 
 -ms-user-select: none; 
 user-select: none;
}
#title {
font-family: 'Poppins', sans-serif;
 color: #555;
 font-style: bold;
 font-size:350%;
 margin: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-175%, -50%);
 transform: translate(-175%, -50%);
 -webkit-user-select: none;       
 -moz-user-select: none; 
 -ms-user-select: none; 
 user-select: none;
 transition: text-shadow 0.5s,transform 0.5s,color 0.5s;
 transition-timing-function: ease;
}

h1 {
    transition: color 2s, background-color 2s;
}
/* #title {bottom: 45%; right: 65%;} */
/* #title em { 
 transition: text-shadow 2s,transform 2s,color 2s;
 transition-timing-function: ease;
}
#title em { 
  font-style: normal;
  color: #fd971c;
} */
body {
  background-color: #282c34;
  transition: color 0.5s ease, background-color 0.5s ease;
  font-size: 13px; line-height: 1.4;
  font-family: monospace;
  -webkit-font-smoothing: subpixel-antialiased;
   margin: 0;
}

pre { 
  position: fixed; width: 48%;
  top: 30px; bottom: 30px; left: 26%;
  transition: left 500ms,opacity 500ms, color 0.5s, background-color 0.5s;
  overflow: auto;
  background-color: #383a42; color: #a6c3d4;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 24px 12px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 4px 0px 2px rgba(0,0,0,0.1);
}

/* 
 * Syntax highlighting 
 */
 body {
base00: hsl(140, 10%, 10%);  /* #171c19 */
base01: hsl(140, 9%, 15%);   /* #232a25 */
base02: hsl(140, 8%, 35%);   /* #526057 */
base03: hsl(140, 7%, 40%);   /* #5f6d64 */
base04: hsl(140, 6%, 50%) ;  /* #78877d */
base05: hsl(140, 5%, 55%);   /* #87928a */
base06: hsl(140, 15%, 89%) ; /* #dfe7e2 */
base07: hsl(140, 25%, 94%);  /* #ecf4ee */
base08: hsl(20, 51%, 46%) ;  /* #b16139 */
base09: hsl(32, 45%, 43%);   /* #9f713c */
base0a: hsl(40, 46%, 43%) ;  /* #a07e3b */
base0b: hsl(140, 36%, 44%)  ;/* #489963 */
base0c: hsl(183, 70%, 37%)  ;/* #1c9aa0 */
base0d: hsl(183, 34%, 42%);  /* #478c90 */
base0e: hsl(199, 29%, 47%)  ;/* #55859b */
base0f: hsl(21, 12%, 47%)  ; /* #867469 */
}




pre em:not(.comment) { font-style: normal; }

.comment       { color: #e0e1e2; }
.selector      { color: #e06c75; }
.selector .key { color: #a6da27; }
.selector .int { color: #a6da27; }
.key           { color: #1c9aa0; }
.int           { color: #b16139; }
.hex           { color: #b16139; }
.hex .int      { color: #b16139; }
.value         { color: #867469; }
.var           { color: #BD93F9; }
.local         { color: #55859b; }
.operator      { color: #b16139; }
.string        { color: #489963; }
.method        { color: #b16139; }
.run-command   { color: #ae81ff; }
.table         { color: #87928a; }